.GameStats {
  position: absolute;
  width: 12vw;
  list-style-type: none;
  color: #C16630;
  font-size: 30px;
  font-family: "Marker Felt", fantasy;
}

.GameStats__left {
  right: 0;
  top: 22vh;
  text-align: center;
}

.GameStats__right {
  right: 0;
  bottom: 0;
  text-align: center;
}

.GameStats .value {
  font-size: 2.8rem;
  margin-bottom: 0.0em;
  color: #C16630;
}
