* {
  box-sizing: border-box;
  }
  
  body{
  margin: 0;
  }
  
  .home {
    width: 100%;
    align-items: center;
    font-family: fantasy;
  }
  
  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(204, 177, 173);
    color: rgb(193, 102, 48);
  }
  
  .about h2 {
  font-family: "Marker Felt", fantasy;
  font-size: 80px;
  color: rgb(114, 19, 5);
  height: 50px;
  }

  .about h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #000000;
    padding-left: 50px;
  }
  
  .about .prompt {
    width: 40%;
    font-size: 30px;
    text-align: center;
  }
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
  }
  
  .skills {
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .skills h1 {
    color: rgb(114, 19, 5);
    padding-top: 100px;
    font-size: 100px;
    font-family: "Marker Felt", fantasy;
  }
  .list {
    list-style: none;
    width: 60%;
    justify-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-right: 30px;
    font-family: "Marker Felt", fantasy;
  }
  
  .list span {
    font-size: 30px;
    justify-content: center;
    font-family: fantasy;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      font-size: 20px;
      width: 80%;
    }

    .skills {
      text-align: center;
    }

    .about .prompt{
      text-align: center;
    }

    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }
  