.Preview {
  top: 0;
  left: 65vw;
  background: rgba(0, 0, 0, 0.1);
  border: 10px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  position:absolute;
}

.Preview-board {
  display: grid;
  grid-gap: 1px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 8vw;
  height: 8vw;
}
