.project {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .project h1 {
    margin-top: 100px;
    color: #C16630;
    font-size: 55px;
    font-family: "Marker Felt", fantasy;
    
  }
  .project img {
    width: 700px;
    border-radius: 10px;
    align-items: center;
  }
  
  .project p {
    font-size: 40px;
    color: #C16630;
  }
  
  .project svg {
    font-size: 60px;
    color: #000000;
  }